@import "tailwindcss" source(none);
@source "../src/ui.ts";
@plugin "daisyui" {
  themes: light --default;
}

[data-theme="light"] {
  --color-primary: #25493b;
  --color-primary-content: #ffffff;
  --radius-box: 0.75rem;
  --radius-field: 0.5rem;
}

.htmx-request button,
button.htmx-request {
  cursor: wait;
}
